:root {
    --main_color: #6c4ac3;
    --main_BG_color: #5a3da4;
    --main_border_color: #4b348a;
    --button_main: #937fbb;
    --button_highlight: #aa96d0;
    --button_shadow: #8675b6;

    --text_color: white;
    --text_shadow: black;
}

body{
    margin: 0;
}