.taskbar{
    background-color: var(--main_color);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: max(8vh,50px);
    display: flex;
    align-items: center;
    border-style: none;

    background-image: linear-gradient(0deg, var(--main_color) 25%, var(--main_border_color) 90%, white);
}